---
title: Proof verification
sidebar_position: 4
---

## Overview

| Method                 | On-chain validation | Validation window |
|------------------------|---------------------|-------------------|
| Block hash             | ✅                  | 256 blocks        |
| Beacon block           | ✅                  | 8191 blocks       |
| Beacon block (chained) | ✅                  | Up to Cancun      |
| Consensus              | ❌                   |                   |

## Using block hash

## Using beacon block (EIP-4788)

## Using consensus
