[workspace]
members = [
    "examples/example-deploy/host",
    "examples/uniswap/host",
    "examples/uniswap/client",
    "examples/multiplexer/host",
    "examples/multiplexer/client",
    "examples/verify-quorum/host",
    "examples/verify-quorum/client",
    "crates/client-executor",
    "crates/host-executor",
]
exclude = []
resolver = "2"

[workspace.package]
edition = "2021"
license = "MIT OR Apache-2.0"
authors = ["yuwen01"]
exclude = ["**/target"]
version = "0.1.0"

[workspace.dependencies]
eyre = "0.6"
tracing = { version = "0.1.40", default-features = false }
tokio = { version = "1.21", default-features = false, features = [
    "rt",
    "rt-multi-thread",
] }
serde_json = "1.0.94"
serde = { version = "1.0", default-features = false, features = ["derive"] }
url = "2.3"
hex-literal = "0.4.1"
bincode = "1.3.3"
dotenv = "0.15.0"

# workspace
sp1-cc-client-executor = {path = "./crates/client-executor"}
sp1-cc-host-executor = {path = "./crates/host-executor"}

# rsp
rsp-rpc-db = { git = "https://github.com/succinctlabs/rsp", rev = "14d7439e014c2e988294b35fe1c9154141c87de8" }
rsp-witness-db = { git = "https://github.com/succinctlabs/rsp", rev = "14d7439e014c2e988294b35fe1c9154141c87de8" }
rsp-primitives = { git = "https://github.com/succinctlabs/rsp", rev = "14d7439e014c2e988294b35fe1c9154141c87de8" }
rsp-client-executor = { git = "https://github.com/succinctlabs/rsp", rev = "14d7439e014c2e988294b35fe1c9154141c87de8" }
rsp-mpt = { git = "https://github.com/succinctlabs/rsp", rev = "14d7439e014c2e988294b35fe1c9154141c87de8" }

# rsp-rpc-db = { path = "../rsp/crates/storage/rpc-db" }
# rsp-witness-db = { path = "../rsp/crates/storage/witness-db" }
# rsp-primitives = { path = "../rsp/crates/primitives"}
# rsp-client-executor = {path = "../rsp/crates/executor/client"}
# rsp-mpt = { path = "../rsp/crates/mpt"}

# reth
reth-primitives = { git = "https://github.com/paradigmxyz/reth", tag = "v1.2.0", default-features = false, features = [
    "alloy-compat",
    "std",
] }
reth-codecs = { git = "https://github.com/paradigmxyz/reth", tag = "v1.2.0", default-features = false }
reth-consensus = { git = "https://github.com/paradigmxyz/reth", tag = "v1.2.0", default-features = false }
reth-evm = { git = "https://github.com/paradigmxyz/reth", tag = "v1.2.0", default-features = false }
reth-revm = { git = "https://github.com/paradigmxyz/reth", tag = "v1.2.0", default-features = false, features = [
    "std",
] }
reth-evm-ethereum = { git = "https://github.com/paradigmxyz/reth", tag = "v1.2.0", default-features = false, features = [
    "std",
] }
reth-storage-errors = { git = "https://github.com/paradigmxyz/reth", tag = "v1.2.0", default-features = false, features = [
    "std",
] }
reth-trie = { git = "https://github.com/paradigmxyz/reth", tag = "v1.2.0", default-features = false }
reth-trie-common = { git = "https://github.com/paradigmxyz/reth", tag = "v1.2.0", default-features = false }
reth-chainspec = { git = "https://github.com/paradigmxyz/reth", tag = "v1.2.0", default-features = false }
reth-execution-errors = { git = "https://github.com/paradigmxyz/reth", tag = "v1.2.0", default-features = false }
reth-execution-types = { git = "https://github.com/paradigmxyz/reth", tag = "v1.2.0", default-features = false }
reth-db = { git = "https://github.com/paradigmxyz/reth", tag = "v1.2.0", default-features = false }
reth-errors = { git = "https://github.com/paradigmxyz/reth", tag = "v1.2.0", default-features = false }
reth-ethereum-consensus = { git = "https://github.com/paradigmxyz/reth", tag = "v1.2.0", default-features = false }

# revm
revm = { version = "19.5.0", features = [
    "std",
], default-features = false }
revm-primitives = { version = "15.2.0", features = [
    "std",
], default-features = false }

# alloy
alloy-primitives = "0.8.15"
alloy-consensus = { version = "0.11.1", default-features = false }
alloy-provider = { version = "0.11.1", default-features = false, features = [
    "reqwest",
] }
alloy-rpc-types = { version = "0.11.1", default-features = false, features = [
    "eth",
] }
alloy-rlp = "0.3.10"
alloy-transport = { version = "0.11.1" }

alloy-sol-types = { version = "0.8" }
alloy-sol-macro = { version = "0.8" }
alloy = { version = "0.11.1" }

[workspace.lints]
rust.missing_debug_implementations = "warn"
rust.unreachable_pub = "warn"
rust.unused_must_use = "deny"
rust.rust_2018_idioms = { level = "deny", priority = -1 }
rustdoc.all = "warn"

[patch.crates-io]
sha2-v0-10-8 = { git = "https://github.com/sp1-patches/RustCrypto-hashes", package = "sha2", tag = "patch-sha2-0.10.8-sp1-4.0.0" }
sha3-v0-10-8 = { git = "https://github.com/sp1-patches/RustCrypto-hashes", package = "sha3", tag = "patch-sha3-0.10.8-sp1-4.0.0" }
crypto-bigint = { git = "https://github.com/sp1-patches/RustCrypto-bigint", tag = "patch-0.5.5-sp1-4.0.0" }
tiny-keccak = { git = "https://github.com/sp1-patches/tiny-keccak", tag = "patch-2.0.2-sp1-4.0.0" }
ecdsa-core = { git = "https://github.com/sp1-patches/signatures", package = "ecdsa", tag = "patch-0.16.9-sp1-4.0.0" }
secp256k1 = { git = "https://github.com/sp1-patches/rust-secp256k1", tag = "patch-0.29.1-sp1-4.0.0" }
substrate-bn = { git = "https://github.com/sp1-patches/bn", tag = "patch-0.6.0-sp1-4.0.0" }
